.error-msg {
  color: #f50;
  padding-left: 10px; 
}

.am-tab-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.fixd-header .am-navbar {
  position: fixed;
  top: 0;
  width: 100%
}

.page-content {
  padding: 45px 5px;
}